<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field >
      <mat-label for="name">Name:</mat-label>

        <input matInput id="name" type="text" formControlName="name" required />
    </mat-form-field></td>
    <td><mat-form-field >
      <mat-label for="surname">Surname</mat-label>
      <input matInput id="surname" type="text" formControlName="surname" required />
    </mat-form-field></td>
  </tr></table>

  <input
    type="file"
    id="file"
    (change)="onFileChanged($event)"
  />
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<hr />
<p>Form Value: {{ profileForm.value | json }}</p>
<p>Form Status: {{ profileForm.status }}</p>
