<mat-table #table [dataSource]="recs">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.surname }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="seniority">
    <mat-header-cell *matHeaderCellDef> Seniority </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.seniority }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="years">
    <mat-header-cell *matHeaderCellDef> Years </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.years }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="availability">
    <mat-header-cell *matHeaderCellDef> Availability </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.availability }} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
